<aside id="sidebar">
  <div class="d-flex justify-content-center mt-3">
      <div class="sidebar-logo">
          <a href="#"><span class="logo-desktop">SICI</span></a>
      </div>
      <div class="sidebar-logo-mobile">
         <span class="span-logo">SICI</span>
    </div>
  </div>
  <ul class="sidebar-nav">
      <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="bi bi-bar-chart-line-fill"></i>
            <span class="span-menu">Dashboard</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="bi bi-card-list"></i>
              <span class="span-menu">Ações de controle</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="bi bi-card-checklist"></i>
            <span class="span-menu">UCI's e UAI's</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class="bi bi-gear"></i>
            <span class="span-menu">Configurações</span>
          </a>
      </li>
  </ul>
  <div class="sidebar-footer">
      <a href="#" class="sidebar-link">
        <i class="bi bi-box-arrow-left"></i>
          <span class="span-menu">Logout</span>
      </a>
  </div>
</aside>
