<div class="header-table">
  <div>
    <span class="title-header">Ação de Controle</span>
  </div>
  <div>
    <app-botao [icone]="'bi bi-arrow-left'" (clickEvent)="voltarListarAcaoControle($event)">Voltar</app-botao>
  </div>
</div>

<div class="flex-grow-1 form-container">

  <div class="container">
    <form [formGroup]="acaoControleForm">
      <div class="row">

        <div class="col-md-3 mb-3">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Nome"
            [class.is-invalid]="acaoControleForm.get('nome')?.invalid && acaoControleForm.get('nome')?.touched">
          <span class="text-danger" *ngIf="acaoControleForm.get('nome')?.hasError('required') && acaoControleForm.get('nome')?.touched">
            Obrigatório
          </span>
          <span class="text-danger" *ngIf="(acaoControleForm.get('nome')?.hasError('minlength') || acaoControleForm.get('nome')?.hasError('maxlength')) && acaoControleForm.get('nome')?.touched">
            Minimo 3 e máximo 15 caracteres
          </span>
        </div>


        <div class="col-md-3 mb-3">
          <label for="unidadeAuditoriaInternaId">Unidades de auditoria interna</label>
          <ng-select
          [items]="unidadeAuditoria"
          bindLabel="nome"
          bindValue="id"
          placeholder="Escolher..."
          formControlName="unidadeAuditoriaInternaId"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('unidadeAuditoriaInternaId')?.invalid && acaoControleForm.get('unidadeAuditoriaInternaId')?.touched">
          </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('unidadeAuditoriaInternaId')?.hasError('required') && acaoControleForm.get('unidadeAuditoriaInternaId')?.touched">
            Obrigatório
          </span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="anoProgramacao">Ano</label>
          <input type="number"
            class="form-control"
            id="anoProgramacao"
            formControlName="anoProgramacao"
            placeholder="0000"
            [class.is-invalid]="acaoControleForm.get('anoProgramacao')?.invalid && acaoControleForm.get('anoProgramacao')?.touched">
          <span class="text-danger" *ngIf="acaoControleForm.get('anoProgramacao')?.hasError('required') && acaoControleForm.get('anoProgramacao')?.touched">
            Obrigatório
          </span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="areaExecutoraId">Área executora</label>
          <ng-select
          [items]="areaExecutora"
          bindLabel="nome"
          bindValue="id"
          placeholder="Escolher..."
          formControlName="areaExecutoraId"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('areaExecutoraId')?.invalid && acaoControleForm.get('areaExecutoraId')?.touched">
          </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('areaExecutoraId')?.hasError('required') && acaoControleForm.get('areaExecutoraId')?.touched">
            Obrigatório
          </span>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3 mb-3">
          <label for="tipoAcao">Tipo da ação</label>
          <ng-select
          [items]="tipoAcao"
          bindLabel="label"
          bindValue="value"
          placeholder="Escolher..."
          formControlName="tipoAcao"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('tipoAcao')?.invalid && acaoControleForm.get('tipoAcao')?.touched">
          </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('tipoAcao')?.hasError('required') && acaoControleForm.get('tipoAcao')?.touched">
            Obrigatório
          </span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="naturezasAcao">Natureza da ação</label>
          <ng-select
          [items]="naturezaAcao"
          bindLabel="label"
          bindValue="value"
          placeholder="Escolher..."
          formControlName="naturezasAcao"
          multiple="true"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('naturezasAcao')?.invalid && acaoControleForm.get('naturezasAcao')?.touched">
          </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('naturezasAcao')?.hasError('required') && acaoControleForm.get('naturezasAcao')?.touched">
            Obrigatório
          </span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="situacao">Situação</label>
          <ng-select
          [items]="situacao"
          bindLabel="label"
          bindValue="value"
          placeholder="Escolher..."
          formControlName="situacao"
          multiple="true"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('situacao')?.invalid && acaoControleForm.get('situacao')?.touched">
          </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('situacao')?.hasError('required') && acaoControleForm.get('situacao')?.touched">
            Obrigatório
          </span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="unidadesAuditadasIds">Unidades auditadas</label>
          <ng-select
          [items]="unidadesAuditadas"
          bindLabel="descricao"
          bindValue="codigo"
          placeholder="Escolher..."
          formControlName="unidadesAuditadasIds"
          multiple="true"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('unidadesAuditadasIds')?.invalid && acaoControleForm.get('unidadesAuditadasIds')?.touched">
          </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('unidadesAuditadasIds')?.hasError('required') && acaoControleForm.get('unidadesAuditadasIds')?.touched">
            Obrigatório
          </span>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6 mb-3">
          <label for="programaGovernoCodigo">Programa de governo</label>
          <ng-select
          [items]="programaGoverno"
          bindLabel="descricao"
          bindValue="codigo"
          placeholder="Escolher..."
          formControlName="programaGovernoCodigo"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('programaGovernoCodigo')?.invalid && acaoControleForm.get('programaGovernoCodigo')?.touched">
          </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('programaGovernoCodigo')?.hasError('required') && acaoControleForm.get('programaGovernoCodigo')?.touched">
            Obrigatório
          </span>
        </div>

        <div class="col-md-6 mb-3">
          <label for="objetivoPPAId">Objetivo PPA</label>
          <ng-select
          [items]="objeticoPPA"
          bindLabel="descricao"
          bindValue="id"
          placeholder="Escolher..."
          formControlName="objetivoPPAId"
          multiple="false"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('objetivoPPAId')?.invalid && acaoControleForm.get('objetivoPPAId')?.touched">
          </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('objetivoPPAId')?.hasError('required') && acaoControleForm.get('objetivoPPAId')?.touched">
            Obrigatório
          </span>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3 mb-3">
          <label for="classificacaoAcao">Classificação da ação</label>
          <ng-select
          [items]="classificacaoAcao"
          bindLabel="label"
          bindValue="value"
          placeholder="Escolher..."
          formControlName="classificacaoAcao"
          multiple="false"
          closeOnSelect="true"
          [class.is-invalid]="acaoControleForm.get('classificacaoAcao')?.invalid && acaoControleForm.get('classificacaoAcao')?.touched">
        </ng-select>
          <span class="text-danger" *ngIf="acaoControleForm.get('classificacaoAcao')?.hasError('required') && acaoControleForm.get('classificacaoAcao')?.touched">
            Obrigatório
          </span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="quantidadeMembros">Quantidade de membros</label>
          <input type="number"
            class="form-control"
            id="quantidadeMembros"
            formControlName="quantidadeMembros"
            placeholder="Quantidade de membros"
            [class.is-invalid]="acaoControleForm.get('quantidadeMembros')?.invalid && acaoControleForm.get('quantidadeMembros')?.touched">
            <span class="text-danger" *ngIf="acaoControleForm.get('quantidadeMembros')?.hasError('required') && acaoControleForm.get('quantidadeMembros')?.touched">
              Obrigatório
            </span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="diasUteisRealizacao">Dia úteis para realização</label>
          <input type="number"
            class="form-control"
            id="diasUteisRealizacao"
            formControlName="diasUteisRealizacao"
            placeholder="Dias úteis"
            [class.is-invalid]="acaoControleForm.get('diasUteisRealizacao')?.invalid && acaoControleForm.get('diasUteisRealizacao')?.touched">
            <span class="text-danger" *ngIf="acaoControleForm.get('diasUteisRealizacao')?.hasError('required') && acaoControleForm.get('diasUteisRealizacao')?.touched">
              Obrigatório
            </span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="esforcoTotal">Esforço total</label>
          <input type="number"
            class="form-control"
            id="esforcoTotal"
            formControlName="esforcoTotal"
            placeholder="Esforço total">
        </div>

      </div>

      <div class="row">

        <div class="col-12 mb-3">
          <label for="descricaoAcao">Descrição *</label>
          <textarea
            class="form-control"
            formControlName="descricaoAcao"
            id="descricao"
            rows="4"
            [class.is-invalid]="acaoControleForm.get('descricaoAcao')?.invalid && acaoControleForm.get('descricaoAcao')?.touched">
          </textarea>
          <span class="text-danger" *ngIf="(acaoControleForm.get('descricaoAcao')?.hasError('minlength') || acaoControleForm.get('descricaoAcao')?.hasError('maxlength')) && acaoControleForm.get('descricaoAcao')?.touched">
            Máximo 15 caracteres
          </span>
        </div>

      </div>
    </form>
  </div>
  <div class="botao-salvar">
    <app-botao [icone]="'bi bi-floppy'" [disabled]="acaoControleForm.invalid" (clickEvent)="salvarAcaoDeControle($event)">Salvar</app-botao>
  </div>
</div>

