<div class="wrapper">
  <aside id="sidebar">
      <div class="d-flex justify-content-center mt-3">
          <div class="sidebar-logo">
              <a href="#"><span class="logo-desktop">SICI</span></a>
          </div>
          <div class="sidebar-logo-mobile">
            <!-- <a href="#"><span class="logo-desktop">S</span></a> -->
             <span class="span-logo">SICI</span>
        </div>
      </div>
      <ul class="sidebar-nav">
          <li class="sidebar-item">
              <a href="#" class="sidebar-link">
                <i class="bi bi-bar-chart-line-fill"></i>
                <span class="span-menu">Dashboard</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a href="#" class="sidebar-link">
                <i class="bi bi-card-list"></i>
                  <span class="span-menu">Ações de controle</span>
              </a>
          </li>
          <!-- <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                  <i class="lni lni-protection"></i>
                  <span>Auth</span>
              </a>
              <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                      <a href="#" class="sidebar-link">Login</a>
                  </li>
                  <li class="sidebar-item">
                      <a href="#" class="sidebar-link">Register</a>
                  </li>
              </ul>
          </li> -->
          <!-- <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                  <i class="lni lni-layout"></i>
                  <span>Multi Level</span>
              </a>
              <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                      <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                          data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                          Two Links
                      </a>
                      <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                          <li class="sidebar-item">
                              <a href="#" class="sidebar-link">Link 1</a>
                          </li>
                          <li class="sidebar-item">
                              <a href="#" class="sidebar-link">Link 2</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li> -->
          <li class="sidebar-item">
              <a href="#" class="sidebar-link">
                <i class="bi bi-card-checklist"></i>
                <span class="span-menu">UCI's e UAI's</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a href="#" class="sidebar-link">
                <i class="bi bi-gear"></i>
                <span class="span-menu">Configurações</span>
              </a>
          </li>
      </ul>
      <div class="sidebar-footer">
          <a href="#" class="sidebar-link">
            <i class="bi bi-box-arrow-left"></i>
              <span class="span-menu">Logout</span>
          </a>
      </div>
  </aside>

  <div class="main p-3">
    <div class="barra-superior">
      <div>
        <button class="toggle-btn" type="button">
          <i class="bi bi-list" style="color: var(--secondary-color);"></i>
        </button>
      </div>
      <div class="icones-direito">
        <div>
          <i class="bi bi-bell-fill" style="color: var(--secondary-color); margin-right: 25px; font-size: 30px;"></i>
        </div>
        <div>
          <i class="bi bi-envelope-fill" style="color: var(--secondary-color); font-size: 30px;"></i>
        </div>
        <div style="margin-left: 25px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span style="font-size: 20px;">Usuário</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Teste</a></li>
            </ul>
          </li>
        </div>
      </div>
    </div>



        <div class="header-table">
          <div>
            <span class="title-header">Ação de Controle</span>
          </div>
          <div>
            <button class="button-acao" style="margin-right: 10px;"><span ><i class="bi bi-plus"></i>Gerar OS</span></button>
            <button class="button-acao"><span ><i class="bi bi-plus"></i>Nova Ação de Controle</span></button>
          </div>
        </div>

        <mat-form-field>
          <mat-label>Busca</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Busca" />
        </mat-form-field>

        <div class="table-container">


        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z6">

          <!-- ID Column -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </th>
            <td mat-cell *matCellDef="let element"> {{element.unidadeAuditoriaInterna.descricao}} </td>
          </ng-container>

          <!-- Age Column -->
          <ng-container matColumnDef="ano">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ano </th>
            <td mat-cell *matCellDef="let element"> {{element.anoProgramacao}} </td>
          </ng-container>

           <!-- Age Column -->
           <ng-container matColumnDef="areaExecutora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Área Executora </th>
            <td mat-cell *matCellDef="let element"> {{element.areaExecutora.descricao}} </td>
          </ng-container>

           <!-- Age Column -->
           <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.descricaoAcao}} </td>
          </ng-container>

          <ng-container matColumnDef="natureza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Natureza </th>
            <td mat-cell *matCellDef="let element"> {{element.naturezasAcao}} </td>
          </ng-container>

          <ng-container matColumnDef="unidadeAuditada">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidade Auditada </th>
            <td mat-cell *matCellDef="let element"> {{element.unidadesAuditadas[0].descricao}} </td>
          </ng-container>

          <ng-container matColumnDef="classificacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Classificação </th>
            <td mat-cell *matCellDef="let element"> {{element.classificacaoAcao}} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
              <td mat-cell *matCellDef="let element">
              <div style="width: 100px;">
                <i class="bi bi-pen-fill acoes"></i><i class="bi bi-trash-fill acoes"></i><i class="bi bi-eye-fill acoes"></i>
              </div>
             </td>
          </ng-container>

          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>




  </div>

</div>

