:root {
  --primary-color: #d6e1ec;
  --secondary-color: #2d3e50;
  --secondary-hover-color: #19508a;
  --fundo-branco: #ffffff;
  --azul-login: #2d176b;
  --azul-botao: #7a96d5;
  --azul-botao-hoover: #50628b;
  --cinza-botao: #888397;
}

html, body {
  height: 100%;
}

body {
font-family: 'Poppins', sans-serif;
}

.custom-snackbar {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.custom-snackbar-error {
  background-color: #df0b0b;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

